<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My brand</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <nav>
        <div class="logo">
            <h1>Edmondus</h1> 
            </div>
       
            <ul class="menu-items">
               <li><a href="./landing page.html">Home</a></li> 
               <li><a href="./about.html">About</a></li> 
               <li><a href="./contact.html">Contact</a></li> 
                <li> <a href="./blog.html">Blog</a></li> 
            </ul>
            
            </nav>
    </div>
    <aside class="aboutext"> 
        <p >
        Hello there, I am Ndayishimiye Edmond.
        An app developer based in Kigali, Rwanda.
        I aspire to design/develop enjoyable and intuitive apps that provide remarkable experience for the user.
    </p>
</aside>
    <p> &#60 skillSet /&#62 </p>
    <aside class="skills"> 
        <p>
            [ <br> javaScript, <br> html, <br> css <br> ]
        </p>
</aside>
</body>
</html>