<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My brand</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body class="about-web"> 
    <nav class="nav-c">
        <h1 class="logo">Edmondus</h1> 
        <div class="menu">
            <a class="menu-items" href="./landing page.html">Home</a>
            <a class="menu-items" href="./about.html">About</a>
            <a class="menu-items" href="./contact.html">Contact</a>
            <a class="menu-items" href="./blog.html">Blog</a>
        </div> 
</nav>
    <aside class="aboutext"> 
        <p >
        Hello there, I am Ndayishimiye Edmond.
        An app developer based in Kigali, Rwanda.
        I aspire to design/develop enjoyable and intuitive apps that provide remarkable experience for the user.
    </p>
</aside>
<div >
    <h4 class="skillset">
        &#60 skillSet /&#62 
    </h4>
    
    <aside class="skills"> 
        <p class="skills-text">
            [ <br> javaScript, <br> html, <br> css <br> ]
        </p>
</aside>
</div>
   
</body>
</html>