<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Brand</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body class="adm-bdy">

    <nav class="blog-nav">
        <h1 class="logo">Edmondus <span>Admin</span></h1> 
       
    </nav>

    <div class="header-bar">
       <a  href="./create_new_content.html"><button class="crt-nw-cntnt-btn" >Create new content</button></a> 
       <a href="./output.html"> <button class="crt-nw-cntnt-btn">read messages</button> </a>
       <a class="edit-prfl" href="./edit_profile.html">edit profile</a>
       
    </div>

    <div class="articles-container">
        <h2 class="artcl-hdr">Articles</h2>
        <div>
            <div class="card">
                <h3>
                    Unix Way
                </h3>
                <div class="img-and-text">
                    <img class="post-img" src="../assets/unix.jpg" alt="">
                    <p class="post-desc">
                        We neglect our OS at the risk of radically underutilizing the incredible tools that it enables our device to be. Most of us only come into contact with one, or possibly both, of two families of operating systems: "House Windows"more commonly known as Unix
                    </p>
                    
                </div>
                <h6 class="date-of-post">October 14, 2020</h6>
                <div class="editor-components">
                    <button class="editor-component">edit</button>
                    <button class="editor-component">delete</button>
                    <button class="editor-component">comments</button>
                </div>
            </div>
            
        </div>

        <div>
            <div class="card">
                <h3>
                    Unix Way
                </h3>
                <div class="img-and-text">
                    <img class="post-img" src="../assets/tech1.jpg" alt="">
                    <p class="post-desc">
                        We neglect our OS at the risk of radically underutilizing the incredible tools that it enables our device to be. Most of us only come into contact with one, or possibly both, of two families of operating systems: "House Windows"more commonly known as Unix
                    </p>
                    
                </div>
                <h6 class="date-of-post">October 14, 2020</h6>
                <div class="editor-components">
                    <button class="editor-component">edit</button>
                    <button class="editor-component">delete</button>
                    <button class="editor-component">comments</button>
                </div>
            </div>
            
        </div>

        <div>
            <div class="card">
                <h3>
                    Unix Way
                </h3>
                <div class="img-and-text">
                    <img class="post-img" src="../assets/linux.jpg" alt="">
                    <p class="post-desc">
                        We neglect our OS at the risk of radically underutilizing the incredible tools that it enables our device to be. Most of us only come into contact with one, or possibly both, of two families of operating systems: "House Windows"more commonly known as Unix
                    </p>
                    
                </div>
                <h6 class="date-of-post">October 14, 2020</h6>
                <div class="editor-components">
                    <button class="editor-component">edit</button>
                    <button class="editor-component">delete</button>
                    <button class="editor-component">comments</button>
                </div>
            </div>
            
        </div>

        <div>
            <div class="card">
                <h3>
                    Unix Way
                </h3>
                <div class="img-and-text">
                    <img class="post-img" src="../assets/unix.jpg" alt="">
                    <p class="post-desc">
                        We neglect our OS at the risk of radically underutilizing the incredible tools that it enables our device to be. Most of us only come into contact with one, or possibly both, of two families of operating systems: "House Windows"more commonly known as Unix
                    </p>
                    
                </div>
                <h6 class="date-of-post">October 14, 2020</h6>
                <div class="editor-components">
                    <button class="editor-component">edit</button>
                    <button class="editor-component">delete</button>
                    <button class="editor-component">comments</button>
                </div>
            </div>
            
        </div>
            
    </div>






    <footer>
        <p>© Edmond 2020. All rights reserved</p>
      </footer>

</body>
</html>