<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Brand</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body class="new-cont">

    <nav class="blog-nav">
        <h1 class="logo">Edmondus <span>Admin</span></h1> 
       
    </nav>
    <div class="content-contaier">
        <h2 class="new-content-header">
            Create new content
        </h2>
        <div>
        
            <label for="">Add title:</label>
            <input class="new-cnt-container"  type="text">
        
        
            <label for="">Add Description:</label>
            <textarea class="new-cnt-container" name="post-desc" id="" cols="20" rows="5"></textarea>
        
       
            <label for="">upload a pic:</label>
            <input class="new-cnt-container" type="file" name="" id="file_chooser">
       
        
            <label for="new-cnt-text">type the content:</label>
            <textarea class="new-cnt-container" name="post-content" id="new-cnt-text" cols="30" rows="30"></textarea>
        </div>

        <div class="pst-and-back-btn">
            <button id="pst-btn">
                post
            </button>
            <button id="pst-btn">
                <a href="./admin_dashboard.html">Back</a> 
            </button>
        </div>

    </div>





    <footer>
        <p>© Edmond 2020. All rights reserved</p>
      </footer>

</body>
</html>