<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY brand</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body class="home-web">
        <nav class="nav-c">
                <h1 class="logo">Edmondus</h1> 
                <div class="menu">
                    <a class="menu-items" href="./landing page.html">Home</a>
                    <a class="menu-items" href="./about.html">About</a>
                    <a class="menu-items" href="./contact.html">Contact</a>
                    <a class="menu-items" href="./blog.html">Blog</a>
                </div> 
        </nav>
        <div class="p-info">
            <div class="intro-c">
                <h2 id="myname">Ndayishimiye Edmond</h2>     
                 <h3  class="proffession-sect" id="profession">
                            { web } app developer
                </h3>      
            </div>
            
            <img id="webimg" src="../assets/web-development.svg" alt="">
        </div>
</body>
</html>