  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My brand</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body > 
    <div class="lgn-form">
        <nav class="nav-c">
            <h1 class="logo">Edmondus</h1> 
        
        </nav>
    <div class="content" id="lgn-content">  
    <form class="login-form mrgn-btm">
            <input class="login-name" type="text" name="name" placeholder="Name:">
    
            <input class="login-email" type="text" name="email" placeholder="E-mail:">
    
            <div class="butons">
                <div class="lgn-div">
                    <a class="login_btn" href="./admin_dashboard.html">Login</a>
                    
                    <div class="lgn-as-admn">
                        <input type="checkbox" class="admn-ch-box" name="" value="">
                        <h5 id="lgn-as-admn-txt">
                            login as admin
                        </h5>
                    </div>
                    
                </div>
            
                <h5 class="mrgn-btm">
                    Don’t have an account?
                </h5>     
            <button class="login_btn sign-up">
                sign Up
            </button>          
                        
                    
            </div>
        
    </form>
    <div>
        <a href="./blog.html"><button class="login_btn" id="login-back-btn">
            Back
        </button></a>
    </div>
    
    
    </div> 
    </div>
    
<footer>
    <p>© Edmond 2020. All rights reserved</p>
  </footer>
</body>
</html>