@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=New+Rocker&family=Roboto+Mono&display=swap');

/* ---------- General styles ---------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: transparent;
    background-color: f5f5f5;
}
a {
    text-decoration: none;
    color: black;
}
.nav-c{
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 50px;
}
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;  
    font-family: montserrat;
}
.selected-menu-item{
    font-weight: bolder;
    text-decoration: underline;
}
.logo{
    font-family: "New Rocker";
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu-items{
    font-size: 1.5rem;
    margin: 0 20px;
}
footer {
    text-align: center;
    padding: 30px;
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;

  }
/* -------------landing page ---------- */

.home-web{
    background: url('../assets/pic\ waki.jpg') no-repeat center fixed;
    background-size: cover;
    height: 100vh;
    background-blend-mode: overlay;
    background-color: rgba(229,229,229, 0.50);
    display: flex;
    flex-direction: column;
}
.p-info{
    display: flex;
    justify-content: space-between;
    margin: auto 55px;
    width: 100;
}
.intro-c{
    display: flex;
    flex-direction: column;
}
#myname{
    font-family: 'Montserrat';
    font-size: 3.3rem;
}
.proffession-sect{
    align-self: flex-end;
    padding: 15px 10px;
    margin-top: 25px;
    border-radius: 8px;
    font-family: 'Roboto Mono';
    font-size: 2rem;
    background-color: #000000;
    color: rgb(209, 209, 209);
}
.selected-menu-item{
    font-weight: bolder;
    text-decoration: underline;
}
.menu-items.selected{
    font-weight: bolder;
}
.menu-items.selected{
    font-weight: bolder;
}

/* ------- About Page --------- */

.about-web{
    width: 100%;
   display: flex;
   flex-direction: column;
}

.aboutext{
    color: rgba(228, 225, 225, 0.918);
    background-color: black;
    padding: 5%;
    font-size: 1.5rem;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    width: 50%;
}
.about-text-container{
    margin-left: 5%;
}


.contact_card {
    padding: 30px 100px;
    margin-top: 60px;
}
.skillset-title{
    font-family: Roboto Mono;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 63px;

}
.skills{
    background-color: rgb(168, 168, 167);
    font-size: 3rem;
    width: 100%; 
    padding: auto; 
}
.skills-text{
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 500;
    line-height: 63px;
    padding: 50px;
    font-size: 2rem;

}
.skillset-container{
    float: right;
    width: 45%;
    margin-right: 5%;
    margin-bottom: 20vh;
}
.about-content{
    margin-bottom: 0px;
}
aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: left;
    font-style: italic;
}

#webimg{
    width: 250px;
    height: 300px;
}

/* ------- media query for both Home and About pages --------- */


@media only screen and (max-width: 600px){
   
    .home-web .p-info {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    .about-text-container{
        margin-left: 25px;
        width: 100%;
    }
    .aboutext{
        padding: 15px;
        width: 90%;
    }
    .skillset-container{
        float: none;
        margin-right: 0vh;
        width: 100%;
        margin-left: 25px;
        margin-top: 25px; 
    }
    .about-web{
        width: 145%;
        margin: auto;
    }
    .nav-c{
        width: 100%;
    }
    .about-content{
        margin-left: 80px;
        margin-top: 30px;
    }
    .skillset-container{
        margin-top: 30px;
    }


}


/*-----contact page-----------*/



.social-media-handle a{
    color: white;
}
.social-media-handle {
    color: white;
    display: flex;
    align-items: center;
    text-align: left;
    margin: 20px 0 20px 50px;
}
.social img{
    padding: 0 5%;
}
.contact-form{
    display: flex;
    flex-direction: column;
    font-family: roboto mono;
    width: 40%;
}
input{
    border: 0px solid white;
    box-shadow: 1px 1px 2px 1px #808080;
    border-radius: 5px;
    width: 70%;
    padding: 10px;
    margin: 30px 0;
}
textarea{
    width: 70%;
    outline: none;
    margin: 30px 0;
    border: 0px solid white;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px #808080;
}

.form-title{
    font-size: x-large;
}

.send_btn {
    padding:  10px 15px;
    border-radius: 5px;
    color: white;
    background: black;
    align-self: flex-end;
    margin-right: 30%;
}
.sender{
    display: flex;
    flex-direction: column;
}

.contact-content {
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
    margin: auto 0;
}
footer {
    text-align: center;
    padding: 30px;
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;

  }
  @media only screen and (max-width: 600px){
    
    .contact-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 100px;
        
    }
    .contact-form{
        width: 100%;
    }
    .contact-web{
        width: 100vh;
    }.contact_card{
        margin-bottom: 20px;
    }

}


  /* -------blog page ----------*/

  .blog-nav{
      
    text-align: center;
    padding: 5px;
    background-color: black;
    color: white;
    width: 100%;
    top: 0;
    
  }
  
  #visit-my-website{
      text-decoration: underline;
      text-decoration-color: black;
      font-style: italic;
      color: black;
  }

  .blog-header{
      background-color: #c4c4c4;
      color: rgb(5, 5, 5);
      padding: 20px;
      display: flex;
      justify-content: space-between;
      font-family: roboto mono;
      
  }
  .blog-title{
      font-weight: lighter;
  }
  #login-btn{
      color: white;
      border: 2px solid white;
      border-radius: 30px;
      padding: 2px 10px;
  }
  .cards{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-bottom: 50px;
  }
 .card{
     background-color: rgb(241, 236, 235);
     border: 0px solid black ;
     border-radius: 12px;
     padding: 1em 2em;
     margin: 4%;
 }
  .post-desc{
      word-wrap: break-word;
      padding: 0 10px;

  }
  .img-and-text{
      display: flex;
      justify-content: space-between;
      width: 30em;

  }

.post-img {
    width: 50%;
}
 
@media only screen and (max-width: 600px){
    .img-and-text{
        display: block;
        width: 100%;
        justify-content: space-between;
        word-wrap: break-word;
  
    }

    .card {
        width: 100%;
    }

    .blog-header{
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        font-size: 0.8rem;

    }
    .blog-title{
        font-size: 1rem;
        visibility: hidden;

    }
}


/* ---------- login page ------------ */



.login_btn {
    padding:  5px 25px;
    border-radius: 5px;
    color: white;
    background: black;
    align-self: flex-start;
    font-family: Roboto Mono;
    border-style: none;
    margin: auto 20px auto 0;
    
}
.sign-up{
    background: #404040;
}

.butons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.mrgn-btm{
    margin-bottom: 20px;
}

.lgn-div{
    display: flex;
    width: 100%;
}
.admn-ch-box{
    width: 15px;
}

.lgn-as-admn{
    display: flex;
}
#lgn-as-admn-txt{
    padding-top: 27px;
    padding-left: 8px;
}
.login-form{
    display: flex;
    flex-direction: column;
    font-family: roboto mono;
    width: 100%;
}
.login-name{
    width: 100%;

}
.login-email{
    width: 100%;

}
#login-back-btn{
border-radius: 5px;
margin-left: 70%;

}
#lgn-content{
   flex-direction: column;
   justify-content: space-between;
   width: 80%;
   margin: auto;

}
.lgn-form{
    width: 50%;
    height: 70vh;
    border: 0px solid white;
    box-shadow: 1px 1px 2px 1px #808080;
    margin: auto;
}



@media only screen and (max-width: 600px){
    .login-name{
        width: 100%;
  
    }
    .login-email{
        width: 100%;
  
    }
    #lgn-content{
        padding: 0 20px;
        width: 100%;
    
    }
    .lgn-form{
        width: 90%;
        height: 100%;
        padding-bottom: 5px;
        margin: auto;
    }
    

}

/* ---------- Blog post ------------ */
.blg-pst-content{
    font-family: Roboto Mono;
    margin: auto 50px;
}
.blg-pst-txt{
    width: 90%;
}
.blg-pst-txt h1{
    margin: 20px 10px;
}
.blg-pst-txt h1 span{
    font-size: 1.5em;
}
.comments-section{
    width: 60%;
    padding: 20px;
    background-color: #e0e0e0;
    border-radius: 12px;
    margin: 20px 0;
    box-shadow: 1px 1px 2px 1px #808080;
}
.comments-section h5{
font-weight: bolder;
text-decoration: underline;
margin: 10px 0px;
}

.cmt-ttl{
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}



.back-icon{
    width: 45px;

}
.blg-pst-hdr{
    background-color:inherit;
    height: fit-content;
}
.comment-label{
    display: block;
}
#cmt-txt{
    width: 30%;
    margin-top: 5px;
    margin-bottom: 0px;
    border-radius: 3px;
}
#email-txt{
    border-style: none;
    border-radius: 3px;
    margin-top: 0px;
    width: 20%;
}
.cmt-btn{
    display: block;
    padding:  10px 15px;
    border-radius: 12px;
    color: white;
    background: black;
    margin-bottom: 20px;
}


@media only screen and (max-width: 600px){
    
    .post-img{
        width: 100%;
    }
    .blg-pst-content{
        margin: auto 10px;
    }
    .blg-pst-txt h1 span{
        font-size: 1.5em;
    }
    .blg-pst-txt h1{
        margin: 20px 0px;
        font-size: 1.2em;
    }
    .blg-pst-hdr{
        display: flex;
        justify-content: space-between;
       padding: 5px 10px;
    }
    .comments-section{
        width: 90%;
    }
    .your-cmt-sct{
        width: 80%;
    }
    #cmt-txt{
        width: 80%;
    }
    #email-txt{
        width: 60%;
    }
        
}
